django==3.1.12
shapely==1.7.0
cycler==0.10.0 
kiwisolver==1.2.0 
pillow==7.2.0 
pyparsing==2.4.7 
python-dateutil==2.8.1 
django-sass==1.0.0 
libsass==0.20.0
mysqlclient==2.0.1
numpy==1.19.1 
scipy==1.5.2 
networkx==2.4

