@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);


.main-body {
  background-color: #c4e6f9;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.frame {
  display: block;
  perspective: 600px;
  position: relative;
  margin: 3rem auto 3rem auto;
  max-width: 400px;
}

.frame.is-switched .frame__wrapper {
  animation: rotate 0.5s linear both;
}

.frame__wrapper {
  transform-style: preserve-3d;
  animation: rotate-inverse 0.5s linear both;
}

.frame__side{
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  background: #CA7C4E;
  background: -webkit-linear-gradient(bottom left, #177098 0%, #3a83a4 100%);
  background: -moz-linear-gradient(bottom left, #177098 0%, #3a83a4 100%);
  background: -o-linear-gradient(bottom left, #177098 0%, #3a83a4 100%);
  background: linear-gradient(to top right, #177098 0%, #3a83a4 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177098', endColorstr='#3a83a4',GradientType=1 ); 
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frame__side.is-active {
  position: static;
}

.frame__side--back {
  transform: rotateY(180deg);
}


.center {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 380px;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 15rem;
  background: #d6deec;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}





@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  70% {
    transform: rotateY(200deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotate-inverse {
  0% {
    transform: rotateY(180deg);
  }
  70% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.logo {
  float: left;
  width: 200px;
  height: 320px;
  text-align: center;
}

.image {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 5.625rem auto 0 auto;
}

.image img {
  display: block;
  background: #d6deec;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-size: 100% 100%;
  width: 90%;
  height: 90%;
}

.circle-1 {
  position: absolute;
  box-sizing: border-box;
  width: 86px;
  height: 86px;
  top: -12px;
  left: -3px;
  border-width: 1px;
  border-style: solid;
  border-color: #7dbbde #7dbbde #7dbbde transparent;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
  animation: my_animation_circle_a 5s infinite;
}

@keyframes my_animation_circle_a {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-2 {
  position: absolute;
  box-sizing: border-box;
  width: 92px;
  height: 92px;
  top: -15px;
  left: -6px;
  border-color: #7dbbde transparent #7dbbde #7dbbde;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  transition: all 1.5s ease-in-out;
  animation: my_animation_circle_b 5s infinite;
}

@keyframes my_animation_circle_b {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.stats {
  float: left;
  vertical-align: middle;
}

.box {
  box-sizing: border-box;
  width: 7.5rem;
  height: 7.5rem;
  background: #7dbbde;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  padding-top: 2.375rem;
  transition: all .4s ease-in-out;
  overflow: hidden;
  transform: translate(0%, 0%) scale(1);
}

.box:hover {
  background: #95cae8;
  cursor: pointer;
}

.box:nth-child(2) {
  margin: 0px 0;
}

.box.js-postal.is-switched {
  transform: translate(0%, 0%) scale(0);
  transition: 600ms ease-in-out;
}

.box.js-map_points_box.is-switched {
  transform: translate(0%, 0%) scale(0);
  transition: 600ms ease-in-out;
}

span {
  display: block;
}

.value {
  display: block;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
}

.parameter {
  display: block;
  font-size: 11px;
}

#map-wrapper {
  width: 100%;
  height: 580px;
  position: relative;
  display: block;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #177098;
  top: 0; 
  left: 0;
}

.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
}

.leaflet-left {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
}

#update_log_button {
  background-color: #3a83a4e0;
  border: 3px solid #177098;
  color: #FFFFFF;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

#generated_data {
  display: block;
  position: relative;
  width: 100%;
  height: 3rem;
  background-color: #3a83a4e0;
  text-align: center;
  line-height: 3rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
}

.info_header {
  display: block;
  position: relative;
  width: 100%;
  margin: 0.5rem auto 0.5rem auto;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.info_header2 {
  display: block;
  position: relative;
  width: 100%;
  margin: 0.5rem auto 0.5rem auto;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.info_back_button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1px 25px;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-decoration: none;
  margin: 1rem auto;
  color: #fff;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.info_back_button.active {
  transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px rgba(#000, .25);
}

.btn--blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
 }

.btn--blue:hover {
  background-color: #6FC6FF;
}
   



.module {
  width: 350px;
  margin: 0.25rem auto 0.25rem auto;
  overflow: hidden;
}
.module p {
  display: inline-block;
  color: #ffffff;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

/* Postal codes popup box style */

.popupbox {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(0%, 0%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000000;
  background-color: #c4e6f9;
  width: 500px;
  height: 400px;
  max-width: 100%;
  overflow-y: auto;
}

.popupbox p {
  font-size: 12px;
  font-weight: 400;
}

.popupbox.active {
  transform: translate(0%, 0%) scale(1);
}

.popupbox-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.popupbox-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.popupbox-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.popupbox-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.popupbox_open_button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.25px 25px;
  font-size: 13px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-decoration: none;
  margin: 0.1rem auto;
  color: #fff;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.popupbox_open_button.active {
  transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px rgba(#000, .25);
}

.btn--blue {
  background-color: #55acee;
  box-shadow: 0px 2px 0px 0px #3C93D5;
 }

.btn--blue:hover {
  background-color: #6FC6FF;
}












