{% extends "base.html" %}

{% load static %}

{% block page_content %}

<div id="map" style="position: relative; top: 0; left: 0; width: 100%;">
    <div class="leaflet-bottom leaflet-left" > 
    	<button id="update_log_button">Generuj dane</button>
    </div>   
</div>
<div id="generated_data">
	<p>Here will be your data</p>
	<p></p>
</div> 
<div>
	<p>Centrum okręgu:</p>
	<div id=center>
	</div>
</div>
<div>
	<p>Promień okręgu:</p>
	<div id=radius>
	</div>
</div>
<div id="card" class="card">
  <div class="content">
    <div class="post main">
      <div class="preview"></div>
      <div class="counter"></div>
      <div class="detail"></div>
      <div class="detail"></div>
      <div class="details"></div>
      <div class="details"></div>
    </div>
  </div>
  <div class="fabs">
    <div class="fab"></div>
    <i id="avatar" class="avatar zmdi zmdi-account"></i>
  </div>
  <div class="user">
    <div class="profiles">
      <div class="profile"><span>51</span>Ilość kodów pocztowych</div>
      <div class="profile"><span>9</span>Ilość punktów adresowych</div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}

    {% include 'aitrust_map_java_script.html' %}  

{% endblock %}




