{% extends "base.html" %}

{% load static %}

{% block page_content %}

<div id="map" style="position: relative; top: 0; left: 0; width: 100%;">
    <div class="leaflet-bottom leaflet-left" > 
    	<button id="update_log_button">Generuj dane</button>
    </div>   
</div>
<div id="generated_data">
	<p>Here will be your data</p>
	<p></p>
</div> 
<div>
	<p>Centrum okręgu:</p>
	<div id=center>
	</div>
</div>
<div>
	<p>Promień okręgu:</p>
	<div id=radius>
	</div>
</div>
<div>
	<div class="frame">
	  <div class="center">
	    
			<div class="profile">
				<div class="image">
					<div class="circle-1"></div>
					<div class="circle-2"></div>
					<img src="https://100dayscss.com/codepen/jessica-potter.jpg" width="70" height="70" alt="Jessica Potter">
				</div>
				
				<div class="name">Jessica Potter</div>
				<div class="job">Visual Artist</div>
				
				<div class="actions">
					<button class="btn">Follow</button>
					<button class="btn">Message</button>
				</div>
			</div>
			
			<div class="stats">
				<div class="box">
					<span class="value">523</span>
					<span class="parameter">Posts</span>
				</div>
				<div class="box">
					<span class="value">1387</span>
					<span class="parameter">Likes</span>
				</div>
				<div class="box">
					<span class="value">146</span>
					<span class="parameter">Follower</span>
				</div>
			</div>
	  </div>
	</div>
</div>

{% endblock %}

{% block script %}

    {% include 'aitrust_map_java_script.html' %}  

{% endblock %}




